<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<Project xmlns="A420.Project.15">
<ElementConfiguration xmlns="A420.Rule.5">
<ProjectElementReference Name="Test" Type="Rule" SrcPrj="1-testwebapp" />
<ConfigElement Type="RULE" ValueOrAlias="Values" AliasName="">
<Name>Test</Name>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.CSS.3">
<ProjectElementReference Name="default" Type="CSS" SrcPrj="1-testwebapp" />
</ElementConfiguration>
<ElementConfiguration xmlns="A420.DataObject.6">
<ProjectElementReference Name="Test" Type="DataObject" SrcPrj="1-testwebapp" />
</ElementConfiguration>
<ElementConfiguration xmlns="A420.BP.8">
<ProjectElementReference Name="Test" Type="BusinessProcess" SrcPrj="1-testwebapp" />
<ConfigElement Type="BUSINESS_PROCESS" ValueOrAlias="Values" AliasName="">
<Name>Test</Name>
<Properties>
<Execution TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<TransactionRegions TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<TransactionRegion_1 TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="Source node: Source" NODES_ID_PATH="" NODE_ID="1">
<UseGlobalSettings TYPE="BOOL" saveNameAsAttribute="False">True</UseGlobalSettings>
<ThreadPoolSize TYPE="INT" saveNameAsAttribute="False">1</ThreadPoolSize>
<TransactionBatchSize TYPE="INT" saveNameAsAttribute="False">1000</TransactionBatchSize>
<ErrorHandling TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ExecutionErrorHandling">0</ErrorHandling>
</TransactionRegion_1>
</TransactionRegions>
</Execution>
</Properties>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.UIDiagram.2">
<ProjectElementReference Name="Application" Type="UIDiagram" SrcPrj="1-testwebapp" />
</ElementConfiguration>
<ElementConfiguration xmlns="A420.SqlSchema.2">
<ProjectElementReference Name="DefaultSqlSchema" Type="SqlSchema" SrcPrj="1-testwebapp" />
<ConfigElement Type="SQL_SCHEMA" ValueOrAlias="Values" AliasName="">
<Name>DefaultSqlSchema</Name>
<Properties>
<Any TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<AnyAny TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<DatabaseOrSchema TYPE="STRING" saveNameAsAttribute="False" />
<Owner TYPE="STRING" saveNameAsAttribute="False" />
<DoNotUseSchemaQualifiers TYPE="BOOL" saveNameAsAttribute="False">True</DoNotUseSchemaQualifiers>
</AnyAny>
</Any>
<SQLServer TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<SQLServer_2008 TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Database TYPE="STRING" saveNameAsAttribute="False" />
<Owner TYPE="STRING" saveNameAsAttribute="False" />
<DoNotUseSchemaQualifiers TYPE="BOOL" saveNameAsAttribute="False">True</DoNotUseSchemaQualifiers>
</SQLServer_2008>
<SQLServer_2012 TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Database TYPE="STRING" saveNameAsAttribute="False" />
<Owner TYPE="STRING" saveNameAsAttribute="False" />
<DoNotUseSchemaQualifiers TYPE="BOOL" saveNameAsAttribute="False">True</DoNotUseSchemaQualifiers>
</SQLServer_2012>
<SQLServer_2014 TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Database TYPE="STRING" saveNameAsAttribute="False" />
<Owner TYPE="STRING" saveNameAsAttribute="False" />
<DoNotUseSchemaQualifiers TYPE="BOOL" saveNameAsAttribute="False">True</DoNotUseSchemaQualifiers>
</SQLServer_2014>
</SQLServer>
<Oracle TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Oracle_11g TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Schema TYPE="STRING" saveNameAsAttribute="False" />
<DoNotUseSchemaQualifiers TYPE="BOOL" saveNameAsAttribute="False">True</DoNotUseSchemaQualifiers>
</Oracle_11g>
<Oracle_12c TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Schema TYPE="STRING" saveNameAsAttribute="False" />
<DoNotUseSchemaQualifiers TYPE="BOOL" saveNameAsAttribute="False">True</DoNotUseSchemaQualifiers>
</Oracle_12c>
</Oracle>
<Teradata TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Teradata_15 TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Database TYPE="STRING" saveNameAsAttribute="False" />
<DoNotUseSchemaQualifiers TYPE="BOOL" saveNameAsAttribute="False">True</DoNotUseSchemaQualifiers>
</Teradata_15>
<Teradata_16 TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Database TYPE="STRING" saveNameAsAttribute="False" />
<DoNotUseSchemaQualifiers TYPE="BOOL" saveNameAsAttribute="False">True</DoNotUseSchemaQualifiers>
</Teradata_16>
</Teradata>
<Netezza TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Netezza_6 TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Database TYPE="STRING" saveNameAsAttribute="False" />
<Owner TYPE="STRING" saveNameAsAttribute="False" />
<DoNotUseSchemaQualifiers TYPE="BOOL" saveNameAsAttribute="False">True</DoNotUseSchemaQualifiers>
</Netezza_6>
</Netezza>
<Hive TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Hive_0_12 TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Database TYPE="STRING" saveNameAsAttribute="False" />
<DoNotUseSchemaQualifiers TYPE="BOOL" saveNameAsAttribute="False">True</DoNotUseSchemaQualifiers>
</Hive_0_12>
</Hive>
<Impala TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Impala_1_3 TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Database TYPE="STRING" saveNameAsAttribute="False" />
<DoNotUseSchemaQualifiers TYPE="BOOL" saveNameAsAttribute="False">True</DoNotUseSchemaQualifiers>
</Impala_1_3>
</Impala>
<SapHana TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<SapHanaAny TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Database TYPE="STRING" saveNameAsAttribute="False" />
<Owner TYPE="STRING" saveNameAsAttribute="False" />
<DoNotUseSchemaQualifiers TYPE="BOOL" saveNameAsAttribute="False">True</DoNotUseSchemaQualifiers>
</SapHanaAny>
</SapHana>
<DB2 TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<DB2Any TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Database TYPE="STRING" saveNameAsAttribute="False" />
<DoNotUseSchemaQualifiers TYPE="BOOL" saveNameAsAttribute="False">True</DoNotUseSchemaQualifiers>
</DB2Any>
</DB2>
</Properties>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.Device.49">
<ProjectElementReference Name="bus" Type="Device" SrcPrj="1-testwebapp" />
<ConfigElement Type="DEVICE_TYPE_BUS" ValueOrAlias="Values" AliasName="">
<Name>bus</Name>
<Properties>
<BusName TYPE="STRING" saveNameAsAttribute="False">bus</BusName>
</Properties>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.ProjectElement.5">
<ProjectElementReference Name="Test" Type="FormNode" SrcPrj="1-testwebapp" />
</ElementConfiguration>
<PropertyConfiguration>
<Name>BusinessCalendarsList2</Name>
<ConfigElement Type="PROJECT_PROPERTY_BUSINESS_CALENDARS_LIST" ValueOrAlias="Values" AliasName="">
<Name>BusinessCalendarsList2</Name>
</ConfigElement>
</PropertyConfiguration>
<PropertyConfiguration>
<Name>ApplicationDefinitions</Name>
</PropertyConfiguration>
<PropertyConfiguration>
<Name>SecurityRoles</Name>
</PropertyConfiguration>
<PropertyConfiguration>
<Name>ExecutionProperties</Name>
<ConfigElement Type="EXECUTION_PROPERTIES" ValueOrAlias="Values" AliasName="">
<Name>ExecutionProperties</Name>
<Properties>
<Execution TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<FastMode IsOverridable="True" TYPE="BOOL" saveNameAsAttribute="False">False</FastMode>
<ThreadPoolSize IsOverridable="True" TYPE="INT" saveNameAsAttribute="False">1</ThreadPoolSize>
<BPDThreadPoolSize IsOverridable="True" TYPE="INT" saveNameAsAttribute="False">1</BPDThreadPoolSize>
<AutoRestart IsOverridable="True" TYPE="BOOL" saveNameAsAttribute="False">False</AutoRestart>
<InternalDataHandling IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="InternalDataHandling">0</InternalDataHandling>
<TransactionBatchSize IsOverridable="True" TYPE="INT" saveNameAsAttribute="False">1000</TransactionBatchSize>
<ErrorHandling IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ExecutionErrorHandling">0</ErrorHandling>
<SourceEventsLimit IsOverridable="True" TYPE="INT" saveNameAsAttribute="False">0</SourceEventsLimit>
<SessionSharing IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ExecutionSessionSharing">2</SessionSharing>
<DispatchingPolicyAmongSources IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="DispatchingPolicyAmongSources">0</DispatchingPolicyAmongSources>
<ExecutionCOMPlusThreadingModel IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ExecutionCOMPlusThreadingModel">1</ExecutionCOMPlusThreadingModel>
<MultiProcessingLoadBalancingPolicy IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="LoadBalancingPolicy">2</MultiProcessingLoadBalancingPolicy>
<MemoryManagement IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="MemoryManagement">0</MemoryManagement>
<DataMemoryManagement IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="DataMemoryManagement">4</DataMemoryManagement>
<ProjectInstanceMemoryLimit IsOverridable="True" TYPE="INT" saveNameAsAttribute="False">0</ProjectInstanceMemoryLimit>
<ProjectInstanceCount IsOverridable="True" TYPE="INT" saveNameAsAttribute="False">1</ProjectInstanceCount>
<CriticalErrorHandling IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="CriticalErrorHandling">0</CriticalErrorHandling>
<CriticalErrorNumberStoppingExecution IsOverridable="True" TYPE="INT" saveNameAsAttribute="False">1</CriticalErrorNumberStoppingExecution>
<BusHandlingThreads IsOverridable="True" TYPE="INT" saveNameAsAttribute="False">0</BusHandlingThreads>
<ProcessManagers TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<MainProcessManager IsOverridable="True" TYPE="STRING" saveNameAsAttribute="False" />
<AdditionalProcessManagers IsOverridable="True" TYPE="STRING" saveNameAsAttribute="False" />
</ProcessManagers>
</Execution>
<ExecutionParameters IsEditableCollection="True" CanModifyConfidentiality="True" TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="" />
<LdapSettings TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<AzmanSettingsUse IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="LdapSettingsType">0</AzmanSettingsUse>
<GroupRoleMappings IsEditableCollection="True" CanModifyConfidentiality="True" TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="" />
<AzmanSettings TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<AzmanUsersGroupsDN IsOverridable="True" TYPE="STRING" saveNameAsAttribute="False" />
<AzmanBuildInDN IsOverridable="True" TYPE="STRING" saveNameAsAttribute="False" />
<AzmanAuthorisationStoreDN IsOverridable="True" TYPE="STRING" saveNameAsAttribute="False">CN=store,CN=Program Data,DC=server,DC=example</AzmanAuthorisationStoreDN>
<AzmanApplicationName IsOverridable="True" TYPE="STRING" saveNameAsAttribute="False">WebApplication</AzmanApplicationName>
</AzmanSettings>
</LdapSettings>
<CoherenceParameters TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<ConfigItem name="General classpath" TYPE="STRING" saveNameAsAttribute="True" />
<ConfigItem name="HDFS classpath" TYPE="STRING" saveNameAsAttribute="True" />
<ConfigItem name="PIG classpath" TYPE="STRING" saveNameAsAttribute="True" />
</CoherenceParameters>
<TransactionRetry TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<NumberOfRetries IsOverridable="True" TYPE="INT" saveNameAsAttribute="False">300</NumberOfRetries>
<Delay IsOverridable="True" TYPE="INT" saveNameAsAttribute="False">1</Delay>
<EnforceReconnectOnDatabaseSourcesWithNoStatusUpdate IsOverridable="True" TYPE="BOOL" saveNameAsAttribute="False">False</EnforceReconnectOnDatabaseSourcesWithNoStatusUpdate>
</TransactionRetry>
<DBSessionsSavingOnSources TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<SaveDBSessions IsOverridable="True" TYPE="BOOL" saveNameAsAttribute="False">False</SaveDBSessions>
<RetentionTimout IsOverridable="True" TYPE="INT" saveNameAsAttribute="False">5</RetentionTimout>
</DBSessionsSavingOnSources>
<DBSessionsSavingOnETR TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<SaveDBSessionsInETR IsOverridable="True" TYPE="BOOL" saveNameAsAttribute="False">False</SaveDBSessionsInETR>
<SaveDBSessionsInETR_RetentionTimeout IsOverridable="True" TYPE="INT" saveNameAsAttribute="False">5</SaveDBSessionsInETR_RetentionTimeout>
</DBSessionsSavingOnETR>
<LockUnlockParameters TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Scope IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="Scopes">0</Scope>
<Timeout IsOverridable="True" TYPE="INT" saveNameAsAttribute="False">30</Timeout>
</LockUnlockParameters>
<WebApplication TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<ApplicationAddress IsOverridable="True" TYPE="STRING" saveNameAsAttribute="False" />
</WebApplication>
<InternationalCharacterSupport TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Collation IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="CultureInfo">GB</Collation>
<CollationStrength IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="CollationStrength">0</CollationStrength>
<Encoding IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="DeviceFileEncoding">5</Encoding>
</InternationalCharacterSupport>
<Localisation TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<DefaultCulture IsOverridable="True" TYPE="DYNAMIC_CHOICE" saveNameAsAttribute="False" DynamicChoiceLoaderClass="Microgen.Aptitude.Metamodel.Development.config.exported.dynamicchoiceclasses.classes.LocalizationLanguageLoader" />
</Localisation>
<ExecutionLog TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<OverrideIniFileSurveySettings IsOverridable="True" TYPE="BOOL" saveNameAsAttribute="False">False</OverrideIniFileSurveySettings>
<Enabled IsOverridable="True" TYPE="BOOL" saveNameAsAttribute="False">True</Enabled>
<EnableStatistics IsOverridable="True" TYPE="BOOL" saveNameAsAttribute="False">True</EnableStatistics>
<Levels IsOverridable="True" TYPE="STRING" saveNameAsAttribute="False">-n109</Levels>
</ExecutionLog>
</Properties>
</ConfigElement>
</PropertyConfiguration>
<PropertyConfiguration>
<Name>VariablesCollection</Name>
</PropertyConfiguration>
<PropertyConfiguration>
<Name>LibrarySubstitutions</Name>
</PropertyConfiguration>
<PropertyConfiguration>
<Name>LocalizationProperties</Name>
<ConfigData Type="LocalizationConfigData">
<Cultures>
<Culture default="true">en</Culture>
<Culture default="true">en</Culture>
</Cultures>
</ConfigData>
</PropertyConfiguration>
<PropertyConfiguration>
<Name>SecurityPolicies</Name>
</PropertyConfiguration>
<PropertyConfiguration>
<Name>DataTypeMappings</Name>
</PropertyConfiguration>
<PropertyConfiguration>
<Name>Sequences</Name>
<ConfigElement Type="SEQUENCES" ValueOrAlias="Values" AliasName="">
<Name>Sequences</Name>
</ConfigElement>
</PropertyConfiguration>
</Project>